body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background 0.3s, color 0.3s;
}

.page {
    display: none;
    padding: 20px;
}

.page.active {
    display: block;
}


.dark-mode {
    background-color: #292a2d;
    color: #ddd;
}

.dark-mode nav {
    background-color: #252627;
}

.menu {
    position: fixed;
    left: 5px;
    padding: 10px 20px;

}

.mode {

    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
}

.theme-toggle {

    background-color: #292a2d;
    color: #ddd;
}

.dark-mode .theme-toggle {
    background-color: #ffffff;
    color: black;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e4e4e4;
    background-color: #f8f8f8;
    transition: transform 0.3s ease-in-out;
}

.dark_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #141414;
    background-color: #252627;
    transition: transform 0.3s ease-in-out;
}

li {
    float: left;
}

li a {

    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li .dark_link {

    display: block;
    color: #ddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    /* background-color: #ddd;*/
    font-size: 104%;
}

li a.active {
    font-weight: bold;
}

ul:hover {
    transform: scale(1.004);

}

/* css for timeline */

* {
    box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #252627;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #252627;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #252627 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: #252627;
    color: #ddd;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}



/* timeline in dark_mode*/
.timeline_content_dark {

    background-color: #ddd;
    color: black;

}

.timeline_dark::after {
    background-color: #ddd;
}

.timeline_Rarrow_dark::before {


    border-color: transparent #ddd transparent transparent;
}

.timeline_Larrow_dark::before {
    border-color: transparent transparent transparent #ddd;
}


.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-container>div {
    width: 100px;
    margin: 10px;
    text-align: left;
    font-size: large;
}

/*Social media link*/
.link {
    text-decoration: none;
}

.link:hover {
    color: red;
}